nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--bg-elevated);
  border: solid 1px var(--divider-default);

  .container {
    margin: 0 auto;
    max-width: 540px;

    .navigation {
      padding: 6px 12px 20px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 4px;

      .menu {
        display: flex;
        flex-direction: column;
        color: var(--text-icon);
        align-items: center;

        &.current {
          color: var(--interact-active);
        }
      }
    }
  }
}
