.map-marker {
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: -0.03em;
  line-height: 1.2;
  color: var(--gl-text-white);

  .icon {
    padding: 2px;

    border: 2px solid var(--gl-border-map);
    border-radius: 50% 50% 50% 0;
    aspect-ratio: 1 / 1;

    background-color: #000;
    transform: rotate(-45deg);

    svg {
      display: flex;
      align-items: center;
      justify-content: center;

      transform: rotate(45deg);
    }
  }

  &.default {
    .name {
      flex-shrink: 0;
      max-width: 120px;

      font-size: var(--font-size-caption);
      font-weight: 400;
      color: #000;
      white-space: normal;
      word-break: keep-all;

      text-shadow:
        -2px -2px 0 #fff,
        0 -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 0 0 #fff,
        2px 0 0 #fff,
        -2px 2px 0 #fff,
        0 2px 0 #fff,
        2px 2px 0 #fff;
    }
  }

  &.active {
    .icon {
      box-shadow: var(--shadow-pressed);
    }
  }

  &.compact {
    width: 14px;
    aspect-ratio: 1 / 1;

    border: 2px solid var(--gl-border-map);
    border-radius: 50%;
    box-shadow: var(--shadow-card);

    background-color: #0dd3e2;

    .icon,
    .name {
      display: none;
    }
  }

  &.ATTRACTION {
    .icon {
      background-color: var(--loc-attraction);
    }

    .name {
      color: var(--loc-attraction);
    }

    &.active {
      .icon {
        background-color: var(--loc-attraction-pressed);
      }

      .name {
        color: var(--loc-attraction-pressed);
      }
    }
  }

  &.CULTURE {
    .icon {
      background-color: var(--loc-culture);
    }

    .name {
      color: var(--loc-culture);
    }

    &.active {
      .icon {
        background-color: var(--loc-culture-pressed);
      }

      .name {
        color: var(--loc-culture-pressed);
      }
    }
  }

  &.FESTIVAL {
    .icon {
      background-color: var(--loc-event);
    }

    .name {
      color: var(--loc-event);
    }

    &.active {
      .icon {
        background-color: var(--loc-event-pressed);
      }

      .name {
        color: var(--loc-event-pressed);
      }
    }
  }

  &.FILMING_LOCATION {
    .icon {
      background-color: var(--loc-filming);
    }

    .name {
      color: var(--loc-filming);
    }

    &.active {
      .icon {
        background-color: var(--loc-filming-pressed);
      }

      .name {
        color: var(--loc-filming-pressed);
      }
    }
  }

  &.RESTAURANT {
    .icon {
      background-color: var(--loc-restaurant);
    }

    .name {
      color: var(--loc-restaurant);
    }

    &.active {
      .icon {
        background-color: var(--loc-restaurant-pressed);
      }

      .name {
        color: var(--loc-restaurant-pressed);
      }
    }
  }

  &.CAFE {
    .icon {
      background-color: var(--loc-cafe);
    }

    .name {
      color: var(--loc-cafe);
    }

    &.active {
      .icon {
        background-color: var(--loc-cafe-pressed);
      }

      .name {
        color: var(--loc-cafe-pressed);
      }
    }
  }

  &.ACCOMMODATION {
    .icon {
      background-color: var(--loc-accommodation);
    }

    .name {
      color: var(--loc-accommodation);
    }

    &.active {
      .icon {
        background-color: var(--loc-accommodation-pressed);
      }

      .name {
        color: var(--loc-accommodation-pressed);
      }
    }
  }

  &.SHOPPING {
    .icon {
      background-color: var(--loc-shopping);
    }

    .name {
      color: var(--loc-shopping);
    }

    &.active {
      .icon {
        background-color: var(--loc-shopping-pressed);
      }

      .name {
        color: var(--loc-shopping-pressed);
      }
    }
  }

  &.ETC {
    .icon {
      background-color: var(--loc-other);
    }

    .name {
      color: var(--loc-other);
    }

    &.active {
      .icon {
        background-color: var(--loc-other-pressed);
      }

      .name {
        color: var(--loc-other-pressed);
      }
    }
  }
}
